<link rel="stylesheet" href="">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="">
<!-- necessary scripts for the dialog -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style-for-searchFlights.css">
<script type="text/javascript" src="/static/js/getFlights.js"></script>
<div id="warning"></div>
<div class="container-fluid">
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="#page_1" data-toggle="tab">List View</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#page_2" data-toggle="tab">Matrix View</a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<div id="show-entries" class="row">
				<span class="col-sm-1">Show Entries</span>
				<div class="col-sm-1">
				<select class="form-control" name="entries" id="entries">
					<option value="2">2</option>
					<option value="3" selected="selected">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			 	</div>
			</div>
			<div id="page_1" class="container-fluid tab-pane active"><br>
				<li style="text-align: left" class="list-data-header"></li>
				<table class="table table-hover table-borderles" id="list_view">
					<thead>
						<tr><td><div class="card-group">
							<div class="card bg-dark text-white"><div class="card-body">Price</div></div>
							<div class="card bg-dark text-white"><div class="card-body text-center">Airline</div></div>
							<div class="card bg-dark text-white"><div class="card-body text-center">Take-off</div></div>
							<div class="card bg-dark text-white"><div class="card-body text-center">Landing</div></div>
							<div class="card bg-dark text-white"><div class="card-body text-center">Stops (Duration)</div></div>
						</div></td></tr>
					</thead>
					<tbody class="flights-body-card">
					</tbody>
					<!-- test -->
					<!-- <div class="card-footer">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="col-sm-3">OUTBOUND</div>
									<div class="col-sm">10:24 Suvarnabhumi international Airport (BKK) </div>
									<div class="col-sm">12:30 Don Mueang International Airport (DMK) </div>
								</div>
							</div>
						</div>
						<div><button type="button" class="btn btn-primary font-submit" id="select">Select</button></div>
					</div> -->
					<!--  -->
				</table>
				<!-- Pagination -->
				<dir class="pagination-container">
					<nav>
						<ul class="pagination pagination-sm justify-content-center pagination-number">
						</ul>
					</nav>
				</dir>
				<!--  -->
			</div>
			<div id="page_2" class="container-fluid tab-pane fade"><br>
				<li style="text-align: left" class="list-data-header"></li>
				<table class="table table-hover table-borderless" id="list_view">
					<thead class="thead-dark">
						<tr>
							<th>Price</th>
							<th>Airline</th>
							<th>Take-off</th>
							<th>Landing</th>
							<th>Stops(Duration)</th>
						</tr>
					</thead>
					<tbody class="flights-body">
					</tbody>
				</table>  
					<dir class="pagination-container">
						<nav>
							<ul class="pagination pagination-sm justify-content-center pagination-number">
							</ul>
						</nav>
					</dir>
				</div>
			</div>
			<div class="card-footer">
			</div>
		</div>
	</div>