<link rel="stylesheet" href="">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="">
<!-- necessary scripts for the dialog -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style-for-searchFlights.css">
<!-- <script type="text/javascript" src="/static/js/selectFlights.js"></script> -->
<script type="text/javascript" src="/static/js/passengerArray.js"></script>
<script type="text/javascript" src="/static/js/setPayment.js"></script>
<script type="text/javascript" src="/static/js/factory/IFlightManager.js"></script>
<script type="text/javascript" src="/static/js/factory/IFlights.js"></script>
<div class="container-fluid font-card-detail">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8" id="select1">
			</div>
			<div class="col-sm-4">
				<div class="card-group">
					<div class="card bg-light">
						<div class="card-body">
							<div class="form-group">
								<label>Payment information</label>
								<div><label id="flight_payment">Flight : - บาท</label></div>
								<div><label id="tax">Tax : - บาท</label></div>
								<div><label id="service">Services Fee : - บาท</label></div>
								<label id="serviceList" style="color:red;"></label>
								<input class="appointmentClassId" type="hidden" value="0" id="service-price">
								<div><label id="discount">Discount : - บาท</label></div>
								<div><label id="total">Total : - บาท</label></div>
								<input class="appointmentClassId" type="hidden" value="0" id="total-price">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>