<script type="text/javascript" src="/static/js/passengerinformation.js"></script>
<div class="card-group" id="passengerinformation">
					<div class="card bg-light">
						<div class="card-body">
							<div id="no_information"></div>
							<div class="form-group">
								<label>Title*</label>
								<div class="col-sm-2">
									<select class="form-control" name="client_title" id="client_title">
										<option value="">Choose Title</option>
										<option value="Mr.">Mr.</option>
										<option value="Mrs.">Mrs.</option>
										<option value="Ms.">Ms.</option>
										<option value="Dr.">Dr.</option>
									</select>
								</div>
								<label>First name*</label>
								<div><input type="text" class="form-control" name="first_name" id="first_name"></div>
								<label>Last name*</label>
								<div><input type="text" class="form-control" name="last_name" id="last_name"></div>
								<label>Birth date*</label>
								<div><input type="date" id="birth" name="birth" value="0000-00-00" min="1990-01-01" max="2050-12-31"></div>
								<label>Passprot No.*</label>
								<div><input type="text" class="form-control" name="passport_no" id="passport_no"></div>
								<label>Country*</label>
								<div class="col-sm-4">
									<select class="form-control" name="country" id="country">
										<option value="">Choose Country</option>
										<option value="thailand">Thailand</option>
									</select>
								</div>
								<label>Passport Expiration Date*</label>
								<div><input type="date" id="exp" name="exp" value="0000-00-00" min="1990-01-01" max="2050-12-31"></div>
								<br>
								<div class="container" align="center"><button type="button" class="btn btn-success font-submit" id="next_btn">Next</button></div>
							</div>
						</div>
					</div>
</div>