<script type="text/javascript" src="/static/js/transaction_summary.js"></script>
<div class="card-group" id="passengerinformation">
		<div class="card bg-light">
				<div class="card-body">
					<h2>Transaction Summary</h2>
					<div id="sum_passenger"></div>
					<div id="passenger"></div>
					<div><label>รายละเอียดเที่ยวบิน</label></div>
					<div id="flightDetail"></div>
					<!-- <br>
					<div class="container" align="center"><button type="button" class="btn btn-success font-submit" id="next_btn">Next</button></div> -->
				</div>
		</div>
</div>