<!-- <link rel="stylesheet" href="">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style-for-searchFlights.css"> -->
<script type="text/javascript" src="/static/js/Insurance.js"></script>
<script type="text/javascript" src="/static/js/decolator/IExtraInsurance.js"></script>
<div class="container-fluid">
	<div class="card-group">
					<div class="card bg-light">
						<div class="card-body">
							<div class="form-group">
								<form id="insurance">
								<label>Travel Insurance</label>
								<div class="card-deck">
								<div class="card card-insurance">
  									  <img src="/static/images/bag-insurance.jpg" alt="Bag insurance" style="width:100%">
									  <h4>ประกันกระเป๋าเดินทางหาย หรือล่าช้า</h4>
									  <input class="appointmentClassId" type="hidden" value="Bag insurance" id="bag-tag">
									  <p class="price" value="350">ราคา 350 บาท</p>
									  <input class="appointmentClassId" type="hidden" value="350" id="bag-price">
									  <p></p>
									  <p><input type="checkbox" name="insurance" value="bag-insurance" id="select-bag-insurance"> select</p>
								</div>
								<div class="card card-insurance">
  									  <img src="/static/images/travel-insurance.jpg" alt="Travel insurance" style="width:100%">
									  <h4>ประกันอุบัติเหตุและสุขภาพ ระหว่างเดินทาง</h4>
									  <input class="appointmentClassId" type="hidden" value="Travle insurance" id="travel-tag">
									  <p class="price" value="1300">ราคา 1,300 บาท</p>
									  <input class="appointmentClassId" type="hidden" value="1300" id="travel-price">
									  <p></p>
									  <p><input type="checkbox" name="insurance" value="travel-insurance" id="select-travel-insurance"> select</p>							
								</div>
								</div>
								<br>
								<div class="container" align="center"><button type="button" class="btn btn-success font-submit" id="reservation">Next</button></div>
								</form>
							</div>
						</div>
					</div>	
		</div>
</div>