.font-style-ek-header{
	/*font-family: "fantasy";*/
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.font-style-ek-sm{
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.font-style-ek-label{
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.div-header{
	height: 50px;
    width: 95%;
    background-color: powderblue;
}

.list-data-header{
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
}


.font-card-price{
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	color: #14559A;
}

.font-card-detail{
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: #808080;
}

.list-shown{
	color: green;
}

.font-submit{
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.background-my-image{
    background-image: url("/static/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.card-insurance {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button:hover {
  opacity: 0.7;
}